@charset "utf-8";
/* CSS Document */

/* Background */
html {
	background: url(images/backgroundImage.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* end of background */

/* photo and description */
#content {
}
.section {
	background: rgba(0,0,0,0.6);
	border-radius: 6px;
	width: 50%;
	margin-left: 10%;
	margin-right: auto;
	margin-top: 40px;
}
.title {
	font: normal 14px "Microsoft Yahei", Arial;
	color: whitesmoke;
	padding: 1px 0px 1px 38px;
}
.photo {
	text-align: center;
	padding-bottom: 10px;
}
.photo img {
	width: 88%
}
#content p {
	font: normal 14px "Microsoft Yahei", Arial;
	color: whitesmoke;
	width: 88%;
	margin: 0 auto;
	padding-bottom: 10px;
}
.date {
	display: none;
}
.mouseenter {
	width: 75px;
	height: 60px;
	position: relative;
	padding: 0 10px;
	display: block;
	background: rgba(0,0,0,0.6);
	font: normal 18px "Microsoft Yahei", Arial;
	color: whitesmoke;
	left:100%;
	border-radius: 6px;
}
.mouseoverTitle {
	margin-top: -60px;
}
/* end of photo and description*/

/*menu bar style */
#cssmenu {
	background: rgba(0,0,0,0.6);
	border-radius: 6px;
	width: 50%;
	margin-left: 10%;
	margin-right: auto;
}
#menulist {
	list-style: none;
	margin: 0;
	padding: 1px;
	line-height: 1;
	display: block;
	zoom: 1;
	text-align: center;
}
.submenu {
	position: absolute;
	display: none;
	font: normal 15px "Microsoft Yahei", Arial;
	color: whitesmoke;
	list-style:none;
	padding: 0px;
	line-height: 3;
	zoom: 1;
	text-align: center;
	background: rgba(0,0,0,0.6);
	border-radius:0px 0px 6px 6px;
	z-index:1;
}

.inline {
	display: inline-block;
	padding: 0;
	margin: 0;
}
#cssmenu.align-right ul li {
	float: right;
}
#cssmenu.align-center ul {
	text-align: center;
}
.inline a {
	color: #ffffff;
	text-decoration: none;
	display: block;
	padding: 15px 25px;
	font: normal 14px "Microsoft Yahei", Arial;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	position: relative;
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
	-ms-transition: color .25s;
	-o-transition: color .25s;
	transition: color .25s;
}
.inline a:hover {
	color: #f96e5b;
}
.inline a:hover:before {
	width: 100%;
}

.inline a:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 0;
	background: #f96e5b;
	-webkit-transition: width .25s;
	-moz-transition: width .25s;
	-ms-transition: width .25s;
	-o-transition: width .25s;
	transition: width .25s;
}
	
.inline.active a {
	color: #f96e5b;
}
.inline.active a:before {
	width: 100%;
}
@media screen and (max-width: 1024px) {
#cssmenu ul li {
	float: none;
	display: block;
}
#cssmenu ul li a {
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #fb998c;
}
#cssmenu ul li.last > a, #cssmenu ul li:last-child > a {
	border: 0;
}
#cssmenu ul li a:before {
	display: none;
}
.submenu{
	margin-left:48.9%;
	margin-top:-50px;
	border-radius:6px;
}
}
/* end of menu bar */
	
/* banner */
#banner {
	background: rgba(72,72,72,0.6);
	margin: 0px 10% auto;
	border-radius: 6px;
	width: 50%;
}
#banner p {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	color: rgba(236, 240, 241,1.0);
	font: normal 22px "Microsoft Yahei", Arial;
	padding: 9px 0 9px 0;
	margin-left: 5%;
	width: 80%;
}
/* end of banner*/

/* mail form */
#feedback-page {
	text-align: center;
}
#form-main {
	width: 100%;
	float: left;
	padding-top: 0px;
}
#form-div {
	background-color: rgba(72,72,72,0.4);
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 35px;
	padding-bottom: 50px;
	width: 44%;
	float: left;
	left: 50%;
	position: absolute;
	margin-top: 30px;
	margin-left: -39.5%;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}
.feedback-input {
	color: #3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}
.feedback-input:focus {
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
	padding: 13px 13px 13px 54px;
}
.focused {
	color: #30aed6;
	border: #30aed6 solid 3px;
}
/* Icons ---------------------------------- */
#name {
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
#name:focus {
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
#email {
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
#email:focus {
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
#comment {
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
textarea {
	width: 100%;
	height: 150px;
	line-height: 150%;
	resize: vertical;
}
input:hover, textarea:hover, input:focus, textarea:focus {
	background-color: white;
}
#button-blue {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float: left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor: pointer;
	background-color: #3498db;
	color: white;
	font-size: 24px;
	padding-top: 15px;
	padding-bottom: 15px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	margin-top: -4px;
	font-weight: 700;
}
#button-blue:hover {
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
.submit:hover {
	color: #3498db;
}
.ease {
	width: 0px;
	height: 58px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}
.submit:hover .ease {
	width: 100%;
	background-color: white;
}
/* end of mail form */
